*/**/bin/
**/obj/
**/TestResults/
htmlcov
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
nuget_key.txt
coverage.xml
/.vs/sdk-dotnet/v16
